[Unit]
Description= Check Service status and if false raise an Incident to Snow

[Service]
Type=simple
ExecStart=/root/service-monitoring-application/venv3/bin/python3 /root/service-monitoring-application/main.py
Environment="PYTHONUNBUFFERED=x"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 

